*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgba(233, 209, 219, 0.938);
}

nav{
     width:100%;
     padding: 30px;
     background-color: rgba(197, 13, 121, 0.76);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
ul{
    width:45%;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    margin-top: 9px;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
    padding:14px;
    background-color: rgba(224, 215, 233, 0.788);
    border-radius: 9px;
    color: rgb(105, 21, 84);
}
/* Mobile Screen */
@media(max-width:700px){

    nav{
        display: flex;
        flex-direction: column;
    }
    ul{
        display: flex;
        flex-direction: column;
        height:auto;
        width: 70%;
    }
    a{
        padding: 8px;
    }

}

/* Tablet Screen */
@media(min-width:701px ) and (max-width:1144px){


    nav{
        display: flex;
        justify-content: space-between;
    }
     ul{
        width:70%;
        gap:0px;
     }
     a{
        padding: 7px;
     }

}